# Ignore all
*

# Except these ...
!.gitignore
!README.md

!index.html
!img/
!img/**
!scss/
!scss/**
!vendor/
!vendor/**

!exercises/

!exercises/yandex.four.rules/
!exercises/yandex.four.rules/**

!exercises/yandex.Procrastinate/
!exercises/yandex.Procrastinate/**

!exercises/Final.PiperNet/
!exercises/Final.PiperNet/**

!exercises/Final.UberEats/
!exercises/Final.UberEats/**

!Figma.Odigo/
!Figma.Odigo/**

